{% if ocp4_workload_redhat_developer_hub_bootstrap_orchestrator_api_version == 'v1alpha2' %}
apiVersion: rhdh.redhat.com/v1alpha2
kind: Orchestrator
metadata:
  name: orchestrator-rhdh
  namespace: openshift-operators
spec:
  platform:
    namespace: sonataflow-infra
    resources:
      limits:
        cpu: 500m
        memory: 1Gi
      requests:
         cpu: 250m
         memory: 64Mi
  postgres:
    authSecret:
      name: sonataflow-psql-postgresql
      passwordKey: postgres-password
      userKey: postgres-username
    database: sonataflow
    name: sonataflow-psql-postgresql
    namespace: {{ ocp4_workload_redhat_developer_hub_bootstrap_sonataflow_namespace }}
  rhdh:
    installOperator: false
    name: backstage
    namespace: {{ ocp4_workload_redhat_developer_hub_bootstrap_backstage_namespace }}
  serverless:
    installOperator: {{ ocp4_workload_redhat_developer_hub_bootstrap_orchestrator_serverless_enabled }}
  serverlessLogic:
    installOperator: {{ ocp4_workload_redhat_developer_hub_bootstrap_orchestrator_serverless_enabled }}
  tekton:
    enabled: false
{% else %}
apiVersion: rhdh.redhat.com/{{ ocp4_workload_redhat_developer_hub_bootstrap_orchestrator_api_version }}
kind: Orchestrator
metadata:
  name: orchestrator-rhdh
  namespace: openshift-operators
spec:
  argocd:
    enabled: false
  platform:
    namespace: {{ ocp4_workload_redhat_developer_hub_bootstrap_sonataflow_namespace }}
    resources:
      limits:
        cpu: 500m
        memory: 1Gi
      requests:
        cpu: 250m
        memory: 64Mi
  postgres:
    authSecret:
      name: sonataflow-psql-postgresql
      passwordKey: postgres-password
      userKey: postgres-username
    database: sonataflow
    name: sonataflow-psql-postgresql
    namespace: {{ ocp4_workload_redhat_developer_hub_bootstrap_sonataflow_namespace }}
  rhdh:
    devMode: false
    installOperator: false
    name: backstage
    namespace: {{ ocp4_workload_redhat_developer_hub_bootstrap_backstage_namespace }}
  serverless:
    installOperator: {{ ocp4_workload_redhat_developer_hub_bootstrap_orchestrator_serverless_enabled }}
  serverlessLogic:
    installOperator: {{ ocp4_workload_redhat_developer_hub_bootstrap_orchestrator_serverless_enabled }}
  tekton:
    enabled: false
{% endif %}